html {
    --s: 92px; /* control the size*/
    --c1: #c9ada7;
    --c2: #968c98;
    
    --_g: #0000 83%,var(--c1) 85% 99%,#0000 101%;
    background:
      radial-gradient(27% 29% at right ,var(--_g)) calc(var(--s)/ 2) var(--s),
      radial-gradient(27% 29% at left  ,var(--_g)) calc(var(--s)/-2) var(--s),
      radial-gradient(29% 27% at top   ,var(--_g)) 0 calc(var(--s)/ 2),
      radial-gradient(29% 27% at bottom,var(--_g)) 0 calc(var(--s)/-2)
      var(--c2);
    background-size: calc(2*var(--s)) calc(2*var(--s));
  }


body {
    margin: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border: 14px dotted rgb(34,34,59);
    height: 100vh;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 68px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
 
    border: 1px solid saddlebrown;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    height: auto;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

  
li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 56px;
    
  }



 li a {
  padding-top: 30px;
  padding-bottom: 30px;
    text-decoration: none;
   
  
 }

#pictureContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 2px solid orangered;
}

 #pizzaPicture {
  width: 800px;
  height: auto;
 }


 /* MEDIA QUERYS */
 @media (width <= 1300px) {

body {
  border: 14px dotted rgb(34,34,59);
}

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  li {

    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    
  }

  

  li img {
    max-width: 100%; 
    height: auto;
    margin-top: 10px; 
}


}
